@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto:wght@300;400&display=swap');

:root {
    --main-bg-color: brown;
    --font1:'Baloo Bhaina 2',cursive;
    --font2:'Roboto',sans-serif;
  }



.font-1{
    font-family: var(--font1);


}
.font-2{
    font-family: var(--font2);

}

.max-width-1{
    max-width: 80vw;

}

.max-width-2{
    max-width: 60vw;

}

.m-auto{
    margin: auto;

}
.my-2{
    margin-top: 32px;
    margin-bottom: 32px;
}
.btn{
    padding: 0px 14px;
    padding-top: 3px;
    border: 3px solid black;
    border-radius: 7px;
    font-size: 16px;
    font-family: var(--font1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.btn:hover{
    color:white;
    background: var(--main-bg-color);
}
.form-input{
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 12px;
    font-family: var(--font1);

}
